doctype html

html
  head
    title My Site - hbdc crew
    block scripts
    block style
  head
    nav#navbar
        ul
           
            div#logo
                img(src="/static/logo.png")
                |HBDC
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/") Contact Us]
            li #[a(href="../static/overflow.html") Login/signUp]
    body 
    block content
    block foot
      #footer 
       ul 
            
            li  Services
            li  FAQs
            li  Contact Us
            li Topics
            li  Version 1.12.3
  