extends base.pug

block scripts
  script(src='/static/index.js')

block style
    style
      include  ../static/style.css
      include ../static/styleclassinfo.css
block content
    .sunday 
     |  Sunday        -- 02/08/21
     .Closed 
        |Closed
     .notice 
        |Notice

     .word 
        |Your class will Open on Tuesday .It is gonna closed on Monday due to laxmi-pujasz